.contact-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 130px;
    padding: 2%;

    .map-panel {
        width: 50%;
        padding: 30px;
    }

    .text-panel {
 
        width: 50%;
        padding: 30px;

        .title {
            color: var(--white-font);
            font-size: 40px;
            font-weight: 600;
        }

        .text {
            color: var(--grey-font);
            font-size: 18px;
        }

        .subtitle {
            color: var(--white-font);
            font-size: 24px;
        }

        .social {
            width: 100%;
            margin-top: 50px;

            .fb-icon {

                color: var(--grey-font);
                margin: 0px 5px;

                & :hover {
                    color: var(--white-font);
                    transition: color 0.3s;
                }
                
            }

        }


    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact-container {
        display: block;
        height: 1000px;
        width: 100%;
        margin-top: 80px;
        padding: 2%;
    
        .map-panel {
            width: 100%;
            padding: 30px;
        }
    
        .text-panel {
     
            width: 100%;
            padding: 30px;
    
            .title {
                color: var(--white-font);
                font-size: var(--title-xs-device);
                font-weight: 600;
            }
    
            .text {
                color: var(--grey-font);
                font-size: var(--text-xs-device);
            }
    
            .subtitle {
                color: var(--white-font);
                font-size: var(--subtitle-xs-device);
            }
    
            .social {
                width: 100%;
                margin-top: 50px;
    
                .fb-icon {
                    font-size: var(--title-xs-device);
                    color: var(--grey-font);
                    margin: 0px 5px;
    
                    & :hover {
                        color: var(--white-font);
                        transition: color 0.3s;
                    }
                    
                }
               }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .contact-container {
        display: block;
        height: 1000px;
        width: 100%;
        margin-top: 100px;
        padding: 2%;
    
        .map-panel {
            width: 100%;
            padding: 30px;
        }
    
        .text-panel {
     
            width: 100%;
            padding: 30px;
    
            .title {
                color: var(--white-font);
                font-size: var(--title-s-device);
                font-weight: 600;
            }
    
            .text {
                color: var(--grey-font);
                font-size: var(--text-s-device);
            }
    
            .subtitle {
                color: var(--white-font);
                font-size: var(--subtitle-s-device);
            }
    
            .social {
                width: 100%;
                margin-top: 50px;
    
                .fb-icon {
                    font-size: var(--title-s-device);
                    color: var(--grey-font);
                    margin: 0px 5px;
    
                    & :hover {
                        color: var(--white-font);
                        transition: color 0.3s;
                    }
                    
                }
               }
        }
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .contact-container {
        display: block;
        height: 1000px;
        width: 100%;
        margin-top: 100px;
        padding: 2%;
    
        .map-panel {
            width: 100%;
            padding: 30px;
        }
    
        .text-panel {
     
            width: 100%;
            padding: 30px;
    
            .title {
                color: var(--white-font);
                font-size: var(--title-l-device);
                font-weight: 600;
            }
    
            .text {
                color: var(--grey-font);
                font-size: var(--text-l-device);
            }
    
            .subtitle {
                color: var(--white-font);
                font-size: var(--subtitle-l-device);
            }
    
            .social {
                width: 100%;
                margin-top: 50px;
    
                .fb-icon {
                    
                    font-size: var(--title-l-device);
                    color: var(--grey-font);
                    margin: 0px 5px;
    
                    & :hover {
                        color: var(--white-font);
                        transition: color 0.3s;
                    }
                    
                }
               }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .contact-container {
        display: flex;
        height: 100vh;
        width: 100%;
        margin-top: 130px;
        padding: 2%;
    
        .map-panel {
            width: 50%;
            padding: 30px;
        }
    
        .text-panel {
     
            width: 50%;
            padding: 30px;
    
            .title {
                color: var(--white-font);
                font-size: var(--title-l-device);
                font-weight: 600;
            }
    
            .text {
                color: var(--grey-font);
                font-size: var(--text-l-device);
            }
    
            .subtitle {
                color: var(--white-font);
                font-size: var(--subtitle-l-device);
            }
    
            .social {
                width: 100%;
                margin-top: 50px;
    
                .fb-icon {
                    
                    font-size: var(--title-l-device);
                    color: var(--grey-font);
                    margin: 0px 5px;
    
                    & :hover {
                        color: var(--white-font);
                        transition: color 0.3s;
                    }
                    
                }
               }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .contact-container {
        display: flex;
        height: 100vh;
        width: 100%;
        margin-top: 130px;
        padding: 2%;
    
        .map-panel {
            width: 50%;
            padding: 30px;
        }
    
        .text-panel {
     
            width: 50%;
            padding: 30px;
    
            .title {
                color: var(--white-font);
                font-size: var(--title-xl-device);
                font-weight: 600;
            }
    
            .text {
                color: var(--grey-font);
                font-size: var(--text-xl-device);
            }
    
            .subtitle {
                color: var(--white-font);
                font-size: var(--subtitle-xl-device);
            }
    
            .social {
                width: 100%;
                margin-top: 50px;
    
                .fb-icon {
    
                    font-size: var(--title-xl-device);
                    color: var(--grey-font);
                    margin: 0px 5px;
    
                    & :hover {
                        color: var(--white-font);
                        transition: color 0.3s;
                    }
                    
                }
               }
        }
    }
}







